<form #loginForm="ngForm">
    <input type="text"
    required
    name="login"
    
    ngModel
    #email="ngModel"
    class="form-control">

   <div class="alert alert-danger"
   *ngIf="email.invalid && email.touched">
       votre email est invalid
   </div>

    <input type="password"

    name="pwd"
    minlength="6"
    required
    ngModel
    #pwd="ngModel"
    class="form-control">

    <div class="alert alert-danger"
    *ngIf="pwd.invalid && pwd.touched">
        votre password est invalid
    </div>

    <button class="btn btn-primary"
    [disabled]="loginForm.invalid"
    (click)="login(loginForm)">
        login
        
    </button>
</form>